
.features{
    overflow: hidden;
    position: relative;
}

.features__container{
    padding-top: 2rem;
    grid-template-columns: 285px;
    justify-content: center;
}

.features__group{
    display: grid;
    position: relative;
    z-index: 10;
}

.features__img{
    width: 150px;
    justify-self: center;
}

.features__card{
    width: 112px;
    background-color: hsla(0, 0%, 100%, .1);
    backdrop-filter: blur(16px);
    border-radius: 1.25rem;
    padding: .75rem 2rem;
    text-align: center;
    color: var(--title-color);
    position: absolute;
}

.features__card-1{
    top: 4rem;
    left: 1.5rem;
}

.features__card-2{
    top: 9rem;
    right: 1rem;
}

.features__card-3{
    left: 1.5rem;
    bottom: 2rem;
}

.features__card-title{
    font-size: var(--h3-font-size);
    margin-bottom: .25rem;
}

.features__card-description{
    font-size: var(--smaller-font-size);
}

.features__map{
    max-width: initial;
    width: 450px;
    top: 8rem;
    left: -3rem;
    position: absolute;
    margin: auto;
    transform: rotate(-22deg);
}

/* for midium devices  */
@media screen and (min-width: 576px){
 .features__map{
    left: 0;
    right: 0;
 }   
}

/* for large devices */
@media screen and (min-width: 1040px){
 .features__container{
    padding: 2rem 0 3rem;
 } 
 .features__img{
    width: 200px;
 }
 .features__card{
    width: 127px;
    padding: .75rem 2.5rem;
 }
 .features__card-1{
    left: -1rem;
 }
 .features__card-2{
    right: -2.5rem;
 }
 .features__card-3{
    bottom: 7rem;
    left: -1rem;
 }
 .features__map{
    width: 650px;
    top: 11rem;
 }
}